.nav-menu {
    text-align: right;
}

.nav-spacing {
    margin: 0 0 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #00f
}

.image-link {
    text-decoration: none;
}

.header {
    text-align: center;
    margin: 0 0 80px;
}

.image-center {
    display: block;
    margin: 0 auto;
}

.container-center {
    width: 560px;
    margin: 20px auto;
}

.light-bg-box {
    padding: 30px;
    background-color: #fafafa;
}

.mid-bg-box {
    padding: 2px 20px;
    background-color: #eee;
}

.italic-blockquote {
    font-style: italic;
    font-size: 20px;
}

.strong-red-text {
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #f00;
}